<!--Need to change the classes to match bootstrap. 
This is using the Bulma framework
 -->

<footer class="columns is-multiline is-tablet footer-format">
  <div class="column is-one-third is-half-tablet footer-left">
    <h3>Get<span>There</span></h3>
    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      <a href="#">Blog</a>
      <a href="#">Pricing</a>
      <a href="#">About</a>
      <a href="#">Faq</a>
      <a href="#">Contact</a>
      <a href="./legal.html">Legal</a>
    </p>
  </div>
  <div class="column is-one-third is-half-tablet footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>27 King's College Cir, Toronto, ON M5S 1A1</span>
        Ontario Canada</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+1(416)-111-1111</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@lazyplantcaretaker.com</a>
      </p>
    </div>
  </div>
  <div class="column is-one-third is-full-tablet footer-right">
    <p class="footer-company-about">
      <span>About Us</span>
      ENTER TEXT ABOUT COMPANY HERE
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <p class="footer-company-name">LAZY PLANT CARETAKER © 2022</p>
  </div>
</footer>