<nav class="navbar navbar-light bg-light">
    <div class="nav-left">
        <a href="/homepage"><img src="https://cdn.discordapp.com/attachments/978808186536603686/979008740177104926/The_lazy_plant_caretaker_1.png" alt="Logo" width="100" height="100" class="d-inline-block align-top"></a>
    </div>
    <div class="nav-right">
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style"><a href="/homepage">Logout</a></button>
        {{else}}
      <button d="login" type="button" class="btn btn-success"><ahref="/login">Login</a></button>
     <button d="login" type="button" class="btn btn-outline-success"><ahref="/login">Sign Up!</a></button>
        {{/if}}
    </div>
</nav>




<!-- 
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
-->
    
