<div class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/"><img src="/images/name-logo.png" alt="Logo" class="logo-img" /></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          {{#if loggedIn}}
          <a href="/dashboard"><button type="button" class="btn btn-success me-3">Dashboard</button></a>
          <a href="/"><button id="logout" type="button" class="btn btn-outline-success btn-light">Logout</button></a>

          {{else}}
          <a href="/login"><button id="login" type="button" class="btn btn-success me-3">Login</button></a>
          <a href="/sign-up"><button id="sign-up" type="button" class="btn btn-outline-success btn-light">Sign
              Up</button></a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</div>

<script src="/js/logout.js"></script>
