<section class="search">
    <h1>Find Your Plant!</h1>
    <p>Use the form below to find out what plant is the best for you</p>
    <div class="choose">
        <form>
            <div class="row">
                <div class="col">
                    <label for="inputLighting">What type of lightning do you have?</label>
                    <select id="inputLighting" class="form-control">
                        <option selected>Choose Lighting</option>
                        <option>Low Light</option>
                        <option>Med Light</option>
                        <option>High Light</option>
                </div>
                <div class="col">
                    <label for="inputLazy">How Lazy Are You Feeling></label>
                    <select id="inputLazy" class="form-control">
                        <option selected>Choose Laziness Level</option>
                        <option>Not Lazy!</option>
                        <option>Sometimes Lazy</option>
                        <option>Super Lazy</option>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show Me The Plants!</button>
        </form>
    </div>
</section>
<section class="history">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>