<section class="hero">
  <div class="container">
    <div>
      <h1>The Lazy Plant Caretaker</h1>
      <br />
      <p>jkdfn ejkfglne jewknfgej jkfne klefhfjk. jekn jrek kjergl s,mafnewktn.</p>
      <br />
     <button type="button" class="btn btn-success"><ahref="/login">Sign Up!</a></button>
    </div>
    <div class="hero-img">
      <img src="https://bloomscape.com/wp-content/uploads/2021/12/Bloomscape_Spring20_036-1024x682.jpg?ver=643628 "alt="woman-looking-at-plant"/>
    </div>
  </div>
</section>

<section class="articles">
  <h4>Text Here</h4>
  <div class="article-content">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<section class="callAction">
  <div class="call callActionTitle">
    <h3>Ready To Get Started?</h3>
    <p>Sign up or contact us for more information!</p>
  </div>
  <div class="call callActionBtn">
    <button type="button" class="btn btn-success"><a href="/login">Sign Up!</a></button>
  </div>
</section>








