<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>The Lazy Plant Caretaker</h1>
      <br/>
      <p>Lazy Plant Caretake is here to help strengthen your relationship with plants. We make buying plants easy by finding out exactly what your styles is, your commitment level, then selecting the right plant choice for you! All plant suggestions comes with detailed informaiton regarding plant care. We also set you up with the tips and tricks you need to help your plants thrive. Plants make life better. We make plants easy.</p>
      <br/>
      <p>We are here to help you with any and all of your plant care questions. From simple, customized care instructions included with your plant to real-time expert support, we want to make plant care easy</p>
      <br/>
     <button type="button" class="btn btn-success"><a href="/login">Sign Up!</a></button>
    </div>
    <div class="hero-img">
      <img src="https://bloomscape.com/wp-content/uploads/2021/12/Bloomscape_Spring20_036-1024x682.jpg?ver=643628 "alt="woman-looking-at-plant"/>
    </div>
  </div>
</section>

<section class="articles">
  <h1>Learn More About Plants & Green Living!</h1>
  <div class="article-content">
    <div class="card" style="width: 18rem;">
      <img src="https://bloomscape.com/wp-content/uploads/2020/05/bloomscape_fathers-day-20-4-1365x2048.jpg?ver=217618" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Teach The Joy Of Growing With These 7 Kid-Safe Plants</h5>
        <p class="card-text">Plants and gardening offer countless mental, physical, and emotional health benefits, no matter your age.</p>
        <a href="https://bloomscape.com/green-living/kid-safe-plants/" class="btn btn-success">Find Out More!</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://bloomscape.com/wp-content/uploads/2022/04/210218_bloomkits-lifestyle_8_2420-1536x1024.jpg?ver=754164" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">How To Create A Welcoming Outdoor Oasis</h5>
        <p class="card-text">Our outdoor areas are an extension of our home, and after a long winter stuck indoors, it’s time to spruce up those spaces! We’ve got the tips and tricks to breathe new life into your balcony, porch, or patio.</p>
        <a href="https://bloomscape.com/green-living/create-an-outdoor-oasis-2/" class="btn btn-success">Find Out More!</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://bloomscape.com/wp-content/uploads/2021/12/Bloomscape_FicusDanielle_Large_detail-1638x2048.jpg?ver=639491" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trending Indoor Plants For 2022
</h5>
        <p class="card-text">In our humble opinion, there’s no better way to kick off a new year than with a beautiful new indoor plant… or three.</p>
        <a href="https://bloomscape.com/green-living/trending-indoor-plants-for-2022/" class="btn btn-success">Find Out More!</a>
      </div>
    </div>
  </div>
</section>

<section class="callAction">
  <div class="call callActionTitle">
    <h3>Ready To Get Started?</h3>
    <p>Sign up or contact us for more information!</p>
  </div>
  <div class="call callActionBtn">
    <button type="button" class="btn btn-lg btn-success"><ahref="/login">Sign Up!</a></button>
  </div>
</section>

