/* ------------------------------    GENERAL    ---------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e4d4;
}

h1,
h2,
h3,
h4,
h5 {
  color: #023016;
}

p {
  color: #282b35;
}

.navbar {
  padding: 10px;
  background-color: #14361d;
}

footer {
  padding-top: 30px;
}

/* ------------------------------    LOGIN    ---------------------------------*/

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* ------------------------------    HOMEPAGE    ---------------------------------*/


/* CAll TO ACTION SECTION */

.callAction {
  background-image: url("https://images.pexels.com/photos/2409038/pexels-photo-2409038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  margin: auto;
}

/* ------------------------------    DASHBOARD    ---------------------------------*/

/* FORM SECTION */

.search {
  display: flex;
  justify-content: center;
  padding: 40px 40px;
  height: 500px;
}

.form {
  margin: 20px 150px;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.choose button {
  margin-top: 30px;
}

.form-img img {
  height: 400px;
}

/* TIPS SECTION */

.tips,
h1 {
  padding-top: 30px;
  text-align: center;
}

.tip-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  margin: 50px;
}

.card-img-top {
  height: 250px;
}

/* ------------------------------    RESULTS    ---------------------------------*/

#search-results {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 20px;
}
.result-title {
  padding-bottom: 20px;
}

.plant-results {
  padding: 10px 0px;
}
